Incorrect assumption for redundant tags with Unicode extension in LookupMatcher/BestAvailableLocale?

The preamble of [BestAvailableLocale](https://tc39.github.io/ecma402/#sec-bestavailablelocale) describes the `locale` argument as "[...] a structurally valid and canonicalized BCP 47 language tag [...]". But I'm not sure this is correct for redundant or regular grandfathered tags with Unicode extension sequences. (Let's ignore for now that this combination isn't "valid" per the definition in [RFC 5646, section 2.2.9](https://tools.ietf.org/html/rfc5646#section-2.2.9)).

For example if `LookupMatcher` is called with `requestedLocales = « no-bok-u-attr »`, step 2.a creates `noExtensionsLocale = "no-bok"` and then calls `BestAvailableLocale(availableLocales, "no-bok")`, but `"no-bok"` is not a canonicalized language tag (the canonical form of `"no-bok"` is `"nb"`).

`"no-bok-u-attr"` itself is (probably?) a canonicalized language tag, because the text in [RFC 5646, section 4.5](https://tools.ietf.org/html/rfc5646#section-4.5) seems to suggest that only complete tags are considered for grandfathered or redundant language tag replacements. Which means removing all Unicode extension sequences from a canonicalized language tag may result in a non-canonicalized language tag. Is that correct?



The new locale canonicalisation algorithm in UTS 35 rev38 handles this case. 